<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= startingContent %> </p>


<!-- TO DISPLAY THE TITLE  and CONTENT OF the post we added to our home page. -->

<% posts.forEach(function(post){  %>

    <h1> <%= post.title %> </h1> 
    
    <!-- shorten the line into just 100 characters -->
    <p> <%= post.content.substring(0 , 100) + " ..." %> 
        <a href="/posts/<%= post.title %>"> Read More </a></p>  

<% });  %> 


<%- include("partials/footer") -%>